.header {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #61A9EA;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.rps-input {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%;
}
.decision-board {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.score-board {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: space-evenly;
}

.restart-board {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    padding: 2%;
}